<header id="header-superior">
    <img src="/assets/logo.png" id="logo" alt="Logo Color Point" />
    <span id="iconos">
        <div id="nombres">
            <span><%= NOMBRE1 %></span>
            <span><%= NOMBRE2 %></span>
        </div>
        <a href=<%= URL_FRONT %>>Ir a Frontend</a>
    </span>
</header>