@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

#header-superior {
    top: 0;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid #dddddd;
    padding: 0.3rem 1rem;
    background-color: #ffffff;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}


#header-superior img {
    height: 100%;
}

#header-superior div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-superior #nombres {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#header-superior #iconos {
    display: flex;
    gap: 3rem;
}

#header-superior #dark-mode {
    font-size: 2rem;
    border: none;
    background-color: transparent;
}

#header-superior a {
    font-family:'Courier New', Courier, monospace;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
}

